{% extends 'main.html' %}


{% block content %}
<main class="auth layout">


  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Reset your password</h3>
        </div>
      </div>
      <div class="layout__body">


        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group form__group">
            {% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
          </div>

          <button class="btn btn--main" type="submit">


            </svg>

            Confirm
          </button>
        <a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>

        </form>


      </div>
    </div>
  </div>


</main>
{% endblock content %}